body {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.divbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
   
}

.div {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    /* border: 1px solid rgb(158, 7, 7); */
    align-items: center;
    justify-content: space-evenly;

}

.div_1 {
    height: 6em;
    width: 20%;
    /* border: 1px solid red; */
    margin: 20px;
    text-align: center;
    /* margin: auto; */
    /* transform: translate(0, -50%); */
    align-items: center;
    /* display: flex; */
    padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}

.serachdiv{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 6em;
    /* border: 1px solid red; */
    margin: 20px;
    text-align: center;
    
}

.buttonstyle{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgba(207, 207, 207, 0.808);
    border:none ;
    color: rgb(36, 36, 36);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
.divHeader{
    margin-top: 10%;
    padding: 25px;
    width: 50%;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.inputstyle{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    /* background-color: rgba(207, 207, 207, 0.808); */
    border:none ;
    margin: 10px;
    color: rgb(36, 36, 36);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;

}
.pCompleted {
    position: absolute;
    bottom: 4px;
    margin: 0px;
    font-size: 12px;
    /* float:left;
    height:100%;
    /* margin-right: 15px;
    margin-left: -110px; */
    /* display:flex;
    flex-direction:column;  */
    /* justify-content:flex-end; */
    /* shape-outside:inset(calc(100% - 100px) 0 0); */
}

